.de-tabbar {
    border-bottom: 1px solid #d9d9d9;
    overflow: hidden;
}

.de-tab {
    float: left;
    line-height: 39px;
    padding: 0 15px;
    border-right: 1px solid #d9d9d9;
    text-decoration: none;
    color: #000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    &.active {
        background-color: #fff;
    }
}
